@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Fredoka', sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}

.container >h1{
    color: rgb(228, 40, 108);
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin:30px;
}
.container>p{
    margin: 20px 0;
    text-align: center;
}

.column{
    width: calc(calc(100% / 3) - 5% );
    float: left;
    margin-right: 5%;
    margin-bottom: 50px;
}
.card{
    color: white;
    background-color:rgb(15, 14, 23) ;
    }

    .card:hover{
        box-shadow: 7px 7px 4px #cacaca;
        transform: scale(1.1);
    }
.column:nth-child(3n){
    margin-right: 0;
}


.row::after, .card::after{
    display: table;
    content: "";
    clear: both;
}

.card-image{
    float: left;
    width: 120px;
}

.card-info{
    float: left;
    padding: 20px;
}

.card-image > img{
    width: 100%;
    display: block ;/* ELIMINA SPAZIO SOTTO */
}
.card-info>p{
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
}

.column p:last-of-type{
    color: rgb(42, 154, 203);
    cursor: pointer;

}
