@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Fredoka', sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}

h1{
    color: rgb(228, 40, 108);
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin:30px;
}
.container>p{
    margin: 20px;
    text-align: center;
}

.column{
    width: 30%;
    float: left;
    margin-right: 5%;
    margin-bottom: 50px;
    color: white;
    background-color:rgb(15, 14, 23) ;

}

.column:nth-child(3n){
    margin-right: 0;
}


.row::after, .column::after{
    display: table;
    content: "";
    clear: both;
}

.card-image{
    width: 120px;
    display:inline-block;

}

.card-info{
    float: right;
    width: 240px;
    padding: 20px;

}

.card-image img{
    width: 100%;
}
.card-info>p{
    margin: 2px;
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
}

.column p:last-of-type{
    color: rgb(42, 154, 203)
}