@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    max-width: 1000px;
}

h1{
    color: rgb(228, 40, 108);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 48px;
    margin:30px;
}
p{
    margin: 20px;
    text-align: center;
}

.column{
    width: 30%;
    height:70px;
    border: 1px solid black;
    float: left;
    margin-right: 5%;

}

.column:last-child{
    margin-right: 0;
}


.card::after{
    display: table;
    content: "";
    clear: both;
}
